@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
}

.kartu img {
  max-height: 300px;
  object-fit: cover;
  object-position: top;
}

.kartu-mid img {
  max-height: 300px;
  object-fit: cover;
  object-position: middle;
}

.bg-pink {
  background-color: #e1578a;
}

.logo {
  max-height: 200px;
}

.contact {
  transition: all 0.5s ease 0s;
}

.contact:hover {
  filter: brightness(60%);
}

.sign-button {
  background-color: #e1578a;
  border-color: #c73d70;
  color: white;
}

.sign-button:hover {
  background-color: #c73d70;
  border-color: #c73d70;
}
